.header {
  width: 100%;
  height: 80px;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}

.header img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.header .logo {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  .header a {
    font-size: 1.1rem;
  }
  .header img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 768px) {
  .header a {
    font-size: 1rem;
  }
  .header img {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 480px) {
  .header a {
    font-size: 0.9rem;
  }
  .header img {
    width: 60px;
    height: 60px;
  }
}
